<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

</head>
<body>

<h1>UFOs Distinguished;SERIES IV</h1>
<p id="paragraph2"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab doloremque, et illum maiores porro quos recusandae similique vel voluptas. Dolor, eos, maxime! Iusto maxime non officiis quae saepe? Numquam.</span><span>Alias animi atque autem blanditiis consectetur, cumque dignissimos dolore ducimus eius fuga illum iure nam nemo non nostrum perspiciatis quisquam sint sit vero voluptas? Architecto illum numquam qui vero. Quod.</span><span>At, eaque ex incidunt libero nobis quibusdam soluta. Architecto dicta ea eaque, esse incidunt nemo tempora! Animi, commodi corporis dolor dolorem excepturi illo iure labore natus nesciunt ratione sapiente velit.</span></p>

<div class="gallery">

    <img src="{% static 'assets/resources/UFO4.jpeg' %}" alt="">
    <img src="{% static 'assets/resources/UFO1.jpeg' %}" alt="">
    <img src="{% static 'assets/resources/UFO2.jpeg' %}" alt="">
    <img src="{% static 'assets/resources/UFO5.jpeg' %}" alt="">
</div>


</body>
</html>