<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<h1 style="color: aquamarine">CARTIER APPLICATION</h1>
<p id="paragraph1"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur culpa, deleniti dolor doloribus explicabo fugiat impedit itaque iusto nemo, nihil odit, praesentium quasi quis soluta sunt tempora totam ullam?</span><span>Aperiam consectetur dignissimos dolorem eius, enim eos eveniet fugiat impedit magnam molestiae nemo nihil placeat quia, repellendus soluta, temporibus voluptatem voluptates. At dolores laborum necessitatibus quia quod rerum sapiente voluptates!</span><span>Alias itaque natus nostrum! At consequatur, ducimus excepturi maiores minus modi nam officiis quae quasi quibusdam quisquam quo quod quos, rerum sed sequi unde vero vitae voluptas voluptate voluptatem voluptatibus.</span></p>

<div class="main">
    <img src="{% static 'assets/resources/WATCH2.jpeg' %}" alt="" class="myimage">
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi exercitationem harum iste, itaque nemo obcaecati qui tempora unde. Doloremque dolores eaque explicabo? Consectetur, dolor dolores et fugiat minima perferendis ut.</span><span>Accusamus accusantium aliquam asperiores autem blanditiis corporis, deserunt dolorem ea, fugit harum itaque non obcaecati officiis pariatur repudiandae suscipit voluptatum? A accusamus cumque dicta eaque facere minus nisi obcaecati sit.</span></p>
</div>

<div>
    <p id="paragraph1"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi asperiores, blanditiis consequuntur et eum excepturi facilis fuga magni minus molestias odit placeat, praesentium quisquam reprehenderit rerum tenetur unde vitae.</span><span>Accusantium aspernatur assumenda atque commodi consequuntur, corporis deleniti deserunt ea eaque eos error exercitationem explicabo, facere incidunt ipsam laboriosam maiores necessitatibus pariatur quae quia, quibusdam quisquam reiciendis sapiente similique ut?</span></p>
</div>

<div class="home">

    <img src="{% static 'assets/resources/WATCH1.jpeg' %}" alt="">
    <img src="{% static 'assets/resources/WATCH5.jpg' %}" alt="">
    <img src="{% static 'assets/resources/WATCH6.jpeg' %}" alt="">
</div>


</body>
</html>